<nav class="navbar flex flex-row justify-between">
    <ul class="nav-list">
        <li class="list-item font-extrabold text-gray-600">
            <a href="/">Link<span class="text-brand-title2">im</span></a>
        </li>
        <% if (!auth) { %>
            <li class="list-item">
                <a href="/login">Giriş Yap</a>
            </li>
            <li class="list-item">
                <a href="/register">Kayıt Ol</a>
            </li>
        <% } %>
        <li class="list-item">
            <a href="/about">Hakkımızda</a>
        </li>
    </ul>
    <% if (auth) { %>
    <ul class="nav-list mr-2">
        <li class="list-item border-r-1 justify-center items-center min-w-20 bg-gray-600 rounded-b-lg opacity-80 hover:opacity-100 transition-all duration-150">
            <a class="text-white" href="@<%=username%>" ><%=username%></a>
        </li>
        <li class="list-item border-r-1 justify-center items-center min-w-20 bg-gray-600 rounded-b-lg opacity-80 hover:opacity-100 transition-all duration-150">
            <a class="text-white" href="settings">Ayarlar</a>
        </li>
        <li class="list-item justify-center items-center min-w-20 bg-gray-600 rounded-b-lg opacity-80 hover:opacity-100 transition-all duration-150">
            <a class="text-white" href="logout">Çıkış Yap</a>
        </li>
    </ul>
    <% } %>
</nav>  