<nav class="navbar">
    <ul class="nav-list">
        <li class="list-item font-extrabold text-gray-600">
            <a href="/">Link<span class="text-brand-title2">im</span></a>
        </li>
        <li class="list-item">
            <a href="/login">Giriş Yap</a>
        </li>
        <li class="list-item">
            <a href="/register">Kayıt Ol</a>
        </li>
        <li class="list-item">
            <a href="/about">Hakkımızda</a>
        </li>
        <li class="list-item ml-auto bg-green-600 rounded-b-xl">
            <a class="text-white" href="/profile">Profilim</a>
        </li>
    </ul>
</nav>