<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <%- include('./partials/head'); %>
    <title>Document</title>
</head>
<body class="h-full w-full bg-body flex flex-col items-center">
    <%- include('./partials/navbar'); %>

    <main class="w-full h-100 flex flex-col items-center justify-center">
        <h1 class="text-gray-600 text-7xl mb-10">Hata kodu 404</h1>
        <h2 class="text-gray-600 text-5xl">Sayfa Bulunamadı</h2>
    </main>
</body>
</html>