<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <%- include('./partials/head'); %>
    <title><%= result.PageTitle %></title>
</head>
<body class="w-full h-full bg-body flex flex-col items-center">
    
    <%- include('./partials/navbar'); %>

    <%- result.PageContent %>
</body>
</html>