<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <%- include('./partials/head'); %>
    <title>Şifreyi Sıfırla</title>
</head>
<body class="w-full h-full bg-body flex flex-col items-center">

    <%- include('./partials/navbar'); %>

    <main class="w-100 h-100 flex flex-col items-center p-4 m-auto">
        <p class="w-full text-md font-bold text-gray-600 mt-6 text-center"> Yeni şifrenizi giriniz.</p>
        <form class="form mt-4" action="" onsubmit="resetForgotPassword(event)">
            
            <div class="form-div">
                <label class="form-label text-gray-200" for="name">Email</label>
                <input disabled name="email" class="form-input text-gray-800 w-full" type="text" placeholder="otpz@gmail.com" value="<%= email %>">
            </div>
            <div class="form-div">
                <label class="form-label text-gray-200" for="password">Şifre</label>
                <input required class="form-input text-gray-800 w-full" type="password" placeholder="Yeni şifrenizi giriniz" name="password">
            </div>
            <div class="form-div">
                <label class="form-label text-gray-200" for="confirmPassword">Şifre Tekrarı</label>
                <input required class="form-input text-gray-800 w-full" type="password" placeholder="Yeni şifrenizi tekrar giriniz" name="confirmPassword">
            </div>
            <button class="form-button w-full mt-4" type="submit">Gönder</button>
        </form>
    </main>

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/dom.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
</body>
</html>