@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer components {

    .main{
        @apply bg-main h-148 w-240 rounded-md shadow-lg lg:w-full
    }

    .button{
        @apply w-28 h-10 border-1 border-gray-800 text-gray-800 rounded-sm transition-all duration-200
    }

    .button:hover{
        @apply bg-gray-800 text-white transition-all duration-200
    }

    .form{
        @apply w-full flex flex-col items-center justify-center;
    }
    
    .form-div{
        @apply w-3/5 flex flex-col mb-2;
    }

    .form-input{
        @apply rounded-sm p-1 px-3 border-1 border-gray-400;
    }

    .form-input::placeholder{
        @apply text-gray-400 text-sm;
    }

    .form-label{
        @apply mb-0.5 text-xs font-medium text-gray-600;
    }

    .form-forget{
        @apply text-xs underline text-green-600 font-medium items-end mb-4;
    }

    .form-button{
        @apply w-3/5 rounded-sm p-2 border-1 border-gray-400 mb-3 bg-submit-button text-white text-sm;
    }

    .user-avatar{
        @apply w-20 h-20 rounded-full flex items-center justify-center border-1 border-white;
    }

    .user-avatar img{
        @apply w-full h-full rounded-full;
    }

    .user-info{
        @apply w-full min-h-16 flex flex-col items-center justify-center;
    }

    .user-links{
        @apply w-full min-h-18 flex items-center justify-center my-4 ;
    }

    .user-links .list{
        @apply w-full h-full flex flex-col items-center justify-center;
    }
    
    .user-links .list li{
        @apply w-full h-12 flex items-center bg-purple-800 text-white cursor-pointer;
    } 
    
    .navbar{
        @apply w-full h-12
    }

    .navbar .nav-list{
        @apply h-full flex list-none;
    }

    .navbar .nav-list .list-item{ 
        @apply h-full flex items-center cursor-pointer text-base;
    }

    .list li:hover,
    .list li:has(#move:hover){
        @apply bg-purple-400 text-white transition-all duration-300;
    }

    .list li:has(#delete:hover){
        @apply bg-purple-800 text-white transition-all duration-300;
    }
    
    .list li address{
        @apply text-center text-ellipsis whitespace-nowrap overflow-hidden;
    }
    
    /* .list #link.dragging:where(#link){
        opacity: 0.4;
    } */


    /* questions */

    .questions{
        @apply w-full
    }

    .question-main{
        @apply my-5 w-full min-h-60 flex flex-col bg-gray-900 rounded-lg
    }

    .question-main .top,
    .question-main .bottom,
    .question-main .middle{
        @apply p-4 py-3 w-full flex flex-col items-start
    }

    .question-main .bottom{
        @apply bg-gray-800 rounded-lg
    }

    .question-main .q-user-info{
        @apply w-full h-12 flex items-center justify-start mb-2
    }

    .question-main .q-user-info .avatar{
        @apply w-10 h-10 rounded-full mr-3
    }

    .question-main .q-user-info .info{
        @apply flex flex-col
    }

    .question-main .q-user-info .info .name{
        @apply text-base text-white
    }

    .question-main .q-user-info .info .username{
        @apply text-sm text-gray-400
    }

    .question-main .user-text{
        @apply w-full
    }

    .question-main .user-text p{
        @apply text-sm leading-5 text-justify
    }

    .question-main .question-stats{
        @apply w-full flex justify-between items-center mt-1
    }

    .question-main .question-stats .time{
        @apply text-xs text-gray-400
    }   

    .question-main .likes{
        @apply min-w-32 h-6 flex items-center
    }

    .question-main .likes svg{
        @apply fill-gray-400
    }

    .question-main .likes:hover svg,
    .question-main .likes:hover span
    {
        @apply text-gray-500 transition-all duration-200 fill-gray-500
    }

    .question-main .likes span{
        @apply text-xs h-4 text-gray-400
    }


    /* Question middle */

    .question-main .middle .question-form{
        @apply w-full items-start;
    }

    .question-main .middle textarea{
        @apply bg-transparent outline-none w-full mt-2 placeholder:text-gray-400 placeholder:text-sm text-sm
    }

    .question-main .middle button{
        @apply w-1/4 bg-gray-800 h-10 transition-all duration-200
    }



















    /******* USER CUSTOM STYLES *******/

    /* PROFILE BACKGROUND*/
    .standart{
        color: white;
        background: rgb(0,0,0);
        background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(208,233,215,1) 100%);
    }
    .tie{
        color: white;
        background: rgb(0,0,0);
        background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(72,84,97,1) 100%);
    }
    .darkPink{
        color: white;
        background: rgb(0,0,0);
        background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(232,67,147,1) 100%);
    }
    .stock{
        color: white;
        background: rgb(56,0,54);
        background: linear-gradient(135deg, rgba(56,0,54,1) 0%, rgba(12,186,186,1) 100%);
    }
    .worker{
        color: white;
        background: rgb(44,62,80);
        background: linear-gradient(135deg, rgba(44,62,80,1) 0%, rgba(0,0,0,1) 100%);
    }
    .guitar{
        color: white;
        background: rgb(165,92,27);
        background: linear-gradient(135deg, rgba(165,92,27,1) 0%, rgba(0,0,0,1) 100%);
    }

    /* LINKS */
    .bluePurple {
        background: rgb(56,120,255);
        background: linear-gradient(90deg, rgba(56,120,255,1) 0%, rgba(255,57,251,1) 100%);
    }
    .yellowTurquoise{
        background: rgb(255,188,0);
        background: linear-gradient(90deg, rgba(255,188,0,1) 0%, rgba(25,151,184,1) 100%);
    }
    .redBlue {
        background: rgb(255,73,126);
        background: linear-gradient(90deg, rgba(255,73,126,1) 0%, rgba(42,71,255,1) 100%);
    }
    .greenYellow {
        background: rgb(0,196,39);
        background: linear-gradient(90deg, rgba(0,196,39,1) 0%, rgba(241,255,0,1) 100%);
    }
    .blackGray{
        background: rgb(28,28,28);
        background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(154,154,154,1) 100%);
    }
    .purpleYellow{
        background: rgb(107,33,168);
        background: linear-gradient(90deg, rgba(107,33,168,1) 0%, rgba(255,238,81,1) 100%);
    }
    .redYellow{
        background: rgb(195,23,23);
        background: linear-gradient(90deg, rgba(195,23,23,1) 0%, rgba(217,227,92,1) 100%);
    }
    .blueSoftBlue{
        background: rgb(72,23,195);
        background: linear-gradient(90deg, rgba(72,23,195,1) 0%, rgba(92,145,227,1) 100%);
    }
    .cactus{
        background: rgb(198,234,141);
        background: linear-gradient(90deg, rgba(198,234,141,1) 0%, rgba(254,144,175,1) 100%);
    }
    .frost{
        background: rgb(0,4,40);
        background: linear-gradient(90deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
    }
    .rainbow{
        background-image: linear-gradient( 89.7deg, rgba(223,0,0,1) 2.7%, rgba(214,91,0,1) 15.1%, rgba(233,245,0,1) 29.5%, rgba(23,255,17,1) 45.8%, rgba(29,255,255,1) 61.5%, rgba(5,17,255,1) 76.4%, rgba(202,0,253,1) 92.4% );
    }
    .purplePink{
        background: rgb(126,21,129);
        background: linear-gradient(90deg, rgba(126,21,129,1) 0%, rgba(223,2,162,1) 100%);
    }


    /* BORDERS */
    .square{
        border-radius: 1px
    }
    .smooth{
        border-radius: 4px;
    }
    .round{
        border-radius: 18px;
    }
    .extraRounded{
        border-radius: 1000px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@layer base{
    html{
        font-family: "Ubuntu", sans-serif;
    }
}